<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1009636850818-ju60fnmur0s7dvlr0qrp0cujl7u1l3e2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ad on Wheels uses your location to track your active ride and send GPS data to the ride service.</string>
	<key>NSCameraUsageDescription</key>
	<string>Ad on Wheels needs camera access to scan the QR code that verifies your ride.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ad on Wheels needs photo-library access so you can pick a vehicle photo for your driver profile and campaign artwork.</string>
</dict>
</plist>
